.title {
    font-size: 30;
    horizontal-align: center;
    color: #eeeeee;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #eeeeee;
    horizontal-align: center;
    margin: 10 20;
    text-align: center;
}

Page {
    background-color: #272734;
}

StackLayout {
    margin-top: 50;
}

Image {
    horizontal-align: center;
}